################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/ServiceSiteWeb/bin
/ServiceSiteWeb/obj/Debug
/ServiceSiteWeb.v12.suo
*.suo
