
.changePassword-container {
    display: block;
    margin-top: 150px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
}

.changePassword-content {
    margin: auto;
    width: 400px;
    padding: 10px;
}

    .changePassword-content input {
        max-width: 100%
    }

.changePassword-header {
    font-size: 16px;
    line-height: 20px;
    padding: 10px;
    margin: -10px;
    margin-bottom: 10px;
}
