body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

input,
select,
textarea {
    max-width: 280px;
}

a {
    color: #5c14a5;
}

    a:hover {
        color: #470F7F;
    }

.navbar-inverse {
    background-color: #5c14a5;
    border-color: #470F7F;
    color: white;
}

    .navbar-inverse .navbar-brand {
        color: white;
        padding: 9px 15px;
    }

        .navbar-inverse .navbar-brand .brand-name {
            position: relative;
            top: 1px;
        }

.text-info {
    color: #470F7F;
}

.btn-primary {
    color: #ffffff;
    background-color: #5c14a5;
    border-color: #470F7F;
}

    .btn-primary:hover {
        color: #ffffff;
        background-color: #470F7F;
        border-color: #240840;
    }

.ticket-btn {
    line-height: 0.4;
}