body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.navbar-brand > img {
    display: inline-block;
}

.body-content {
    min-height:1200px;
    padding-top:35px;
    padding-left: 15px;
    padding-right: 15px;
}

    .body-content::after {
        position: absolute;
        content: "";
        background: url('logo.png');
        background-position: 60% 50%;
        background-repeat: no-repeat;
        background-attachment:fixed;
        opacity: 0.15;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
    }

input,
select,
textarea {
    max-width: 280px;
}

a {
    color: #5c14a5;
}

    a:hover {
        color: #470F7F;
    }

.navbar-inverse {
    background-color: #5c14a5;
    border-color: #470F7F;
    color: white;
}

    .navbar-inverse .navbar-brand {
        color: white;
        padding: 9px 15px;
    }

        .navbar-inverse .navbar-brand .brand-name {
            position: relative;
            top: 1px;
        }

.text-info {
    color: #470F7F;
}

.btn-primary {
    color: #ffffff;
    background-color: #5c14a5;
    border-color: #470F7F;
}

    .btn-primary:hover {
        color: #ffffff;
        background-color: #470F7F;
        border-color: #240840;
    }

.ticket-btn {
    line-height: 0.4;
}

.panel, .table-striped > tbody > tr:nth-of-type(odd) {
    background-color: transparent;
}

@media (max-width: 768px) {
    .body-content{
        padding-top:65px;
    }
}