@model SGGWSupportWeb.Models.ChangePasswordViewModel

@{
    ViewBag.Title = "Zmiana hasła";
}

<h2>Zmiana hasła</h2>

@using (Html.BeginForm("ChangePassword", "Authorize", new { }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="form-group">
        <div class="col-md-12">
            <div class="input-group input-group-md">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Wprowadź hasło" })
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            </div>
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <div class="input-group input-group-md">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Ponownie hasło" })
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            </div>
            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3 col-md-offset-9">
            <input type="submit" value="Zapisz" class="btn btn-primary" />
        </div>
    </div>
}